html {
	font-family: Arial;
	font-size: calc(0.32vw + 3.84px);
}

h1 {
  color: red;
}

li {
  list-style-type: none;
  font-size: 1.6rem;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.9rem;
}

h3 {
	font-size: 1.7rem;
}

		


div.Lorem_div {
	position: relative;
	block-size: 100px;
inline-size: min-content;
	border: 5px solid black;
	overflow-wrap: break-word;
	padding: 5px;
}


/* TABLE OF CONTENTS --------START */

.Toc_one_part{
	margin: 2rem;
	height: 280px;
}

.ToC_title
{
	font-size: 1.7rem;
	font-weight: bold;
}

.ToC_introduction{
	display: flex;
	padding: 1rem;
	height: 25rem;
}


.ToC_image {
	width: 400px;
	height: 240px;
	border: 5px solid black;
	margin-right: 25px;
	background-color: #5e9cf1;
	flex-basis: 400px;
	flex-shrink: 0;
	flex-grow: 0;
}

.ToC_description {
	font-size: 1.6rem;
}

@media (max-width: 620px) {
.ToC_introduction{
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.Toc_one_part{
	margin: 2rem;
	height: 300px;
}

.ToC_image {
	width: 400px;
	height: 240px;
	border: 5px solid black;
	margin-right: 25px;
	background-color: #5e9cf1;
	flex-basis: 240px;
	flex-shrink: 0;
	flex-grow: 0;

}

.ToC_description {
	font-size: 1.6rem;
	padding: 0.5rem;
}
}

/* TABLE OF CONTENTS --------END */


/* CODES FOR THE NAVIGATION MENU --------START */


nav {
	margin-bottom: 111em;
	display: block;
	height: min-content;
}

.whole_navigation{
	display: grid;
	grid-template-columns: 1fr 2fr;

}


.navigation_bars{
	display: flex;
	justify-content: space-evenly;
	block-size: 11rem;


}

.navigation_list {
	display: inline-block;
	position: relative;
	top: 100%;
	font-weight: bold;
	list-style-type: none;
	height: min-content;
	
}


.navigation_texts {
	font-size: 1.6rem;
	padding: 0.5rem;

}


.navigation_texts:hover {
background: #C8EDF3;
border-radius: 1rem;
}

body {
	/*setting up the background properties*/
	background-color: #f0ffffcc;
	margin: 0px;
	padding: 0px;
}

hr {
	display: block;
	margin-bottom: 5rem;
	background-color: #8f8c8c;
	height: 0.3rem;
	padding-top: 0px;
	margin-top: 0px;
}

.body_placeholder{
	height: 800px;
	border: 5px solid black;
	
}

.body_text{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: max-content;
	font-size: 4.8rem;
}

#body-section{
	margin-inline:1rem;
}

nav {
	background-color: #6394dd;
	background-image: url("../images/blank-logo.png"); /*logo*/
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 3% 50%;
	background-size: 12rem 12rem;
	height: 15rem;
	padding: 0px;
	margin: 0px;
}


@media (max-width: 620px){
	.navigation_list {max-width: 60px; width: min-content;}
	nav {height: 18rem;}
}



/* CODES FOR THE NAVIGATION MENU --------END */



body {
	background: f1fcfccc no-repeat right top/cover;
	background-attachment: scroll; /*fixed scroll local */
}

figure{
	margin: 0;
	padding: 15rem;
	background: #d5d5d5;
}

img {
	position: relative;
	left: 50%;
	transform: translate(-50%,0);
	
}

figcaption {
	position: relative;
	left: 50%;
	transform: translate(-50%,0);
	font-size: 1.5rem;
	max-width: 560px;
	text-align: center;
	
	
}

@media (max-width: 620px) {
	img {
	width: 90%;
	position: relative;
	left: 50%;
	transform: translate(-50%,0);	
}

figcaption {
	position: relative;
	left: 50%;
	transform: translate(-50%,0);
	font-size: 1.6rem;
	max-width: 560px;
	text-align: center;
	
}

html {
	font-family: Arial;
	font-size: calc(0.34vw + 3.84px);
}
}